.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.canvas{
  color: black;
  border: solid #282c34 2px;
  background-color: white;
  height: 500px;
  display:block;
}

.tableR{
  text-align: center;
  background: green;
  padding-left: 0;
  padding-right: 0;
}
.tableA{
  text-align: center;
  background: crimson;
  padding-left: 0;
  padding-right: 0;
}
.tableS{
  text-align: center;
  background: darkorchid;
  padding-left: 0;
  padding-right: 0;
}
.tableC{
  text-align: center;
  background: royalblue;
  padding-left: 0;
  padding-right: 0;
}
.tableI{
  text-align: center;
  background: goldenrod;
  padding-left: 0;
  padding-right: 0;
}
.table-{
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.tableTask{
  font-weight: bold;
}
.tableRole{
  font-weight: bold;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}
